body {
	background: #333;
	color: white;
}

#input {
	background: #111;
	border-bottom: 2px #888 solid;
}

#output {
	background-color: #444;
}

.cardstack {
	border-bottom: 2px #666 solid;
}

.card {
	background: #eee;
}

input {
	color: #fefefe;
}

header {
	background: linear-gradient(to bottom, #000000cc 0%, #00000000 100%);
}

nav {
	background: linear-gradient(to bottom, #000000ff 0%, #333333cc 100%);
}

#btn-settings, #btn-close-settings {
	color: #bbb;
}