body {
	background-color: #333;
	color: white;
}

#input {
	background-color: #111;
	border-bottom: 2px #888 solid;
}

.cardstack {
	border-bottom: 2px #666 solid;
}

.card {
	background-color: #eee;
}

input {
	color: #fefefe;
}

header {
	background: linear-gradient(to bottom, #000000cc 0%, #00000000 100%);
}

nav {
	background: linear-gradient(to bottom, #000000ff 0%, #333333cc 100%);
}

#btn-settings, #btn-close-settings {
	color: #bbb;
}

#overlay, #output {
	background-color: #000000cc;
	color: white;
}

.message-body {
	background-color: #333333cc;
}

