body {
	background: #333;
	color: white;
}

#input {
	background: #111;
	border-bottom: 2px #888 solid;
}

#output {
	background-color: #444;
}

.cardstack {
	border-bottom: 2px #666 solid;
}

.card {
	background: #eee;
}

input {
	color: #fefefe;
}