* {
	font-family: "Helvetica", "Arial", serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	list-style-type: none
}

span {
	display: inline-block;
}

body {
	margin: 10px;
	overflow: none;
	background: #ddd
}

header {
	margin-bottom: 20px
}

#input {
	background: #eee;
	border: none;
	border-bottom: 2px #888 solid;
	font-size: 24px;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#controls {
	display: none;
}

#output {
	text-align: center;
	background-color: #ccc;
	padding: 6px;
	min-height: 60px;
}

#table {
	padding: 5px;
	background-color: #eee
}

.cardstack {
	border-top: 1px lightgray solid;
	padding: 5px;
	padding-bottom: 10px;
	min-height: 50px;
	text-align: center;
}

.code {
	color: #666;
	font-style: italic;
}

.submitted {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.card {
	border-radius: 3px;
	border: 1px lightgray solid;
	background: white;
	padding: 3px;
	margin-right: 5px;
	margin-bottom: 5px;
	display: inline-block;
	width: 75px;
	font-size: 24px;
	text-align: left;
}

.red {
	color: red;
}

.black {
	color: black;
}

.back {
	color: rgba(0,0,0,0.1);
}

button {
	font-size: 18px;
}

button:hover {
	background-color: #fff;
}

#cardstack-pile {
	background-color: #fdd;
}

#cardstack-pile li.card:not(:nth-child(1)) {
	opacity: 0.2;
}

h2 {
	display: inline-block;
	margin-right: 5px;
	margin-top: 5px;
}