* {
	font-family: "Helvetica", "Arial", serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	list-style-type: none;
}

span {
	display: inline-block;
}

body {
	overflow: none;
	background: #ddd
}

header {
	margin: 10px;
}

#input {
	background: #eee;
	border: none;
	border-bottom: 2px #888 solid;
	font-size: 24px;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#output {
	text-align: center;
	background-color: #ccc;
	padding: 6px;
	min-height: 60px;
}

#table {
	margin: 10px;
	padding: 5px;
}

.cardstack-container {
	margin-bottom: 10px;
}

.cardstack {
	background-color: #eee;
	border-top: 2px #aaa solid;
	padding: 5px;
	min-height: 50px;
	text-align: center;
}

.code {
	color: #666;
	font-style: italic;
}

.submitted {
	color: red;
	font-weight: bold;
	font-style: italic;
}

.card {
	border-radius: 3px;
	border: 1px lightgray solid;
	background: white;
	padding: 3px;
	margin: 3px;
	display: inline-block;
	width: 75px;
	font-size: 24px;
	text-align: left;
	cursor: default;
}

/* for opponent hands + deck */
.small .card {
	font-size: 14px;
}

.cardstack-count {
	margin-left: 6px;
}


.red {
	color: red;
}

.black {
	color: black;
}

.back {
	color: rgba(0,0,0,0.1);
}

button {
	font-size: 18px;
}

button:hover {
	background-color: #fff;
}

.pile {
	background-color: #fdd;
}
/* TODO: do this with javascript */;
.pile li.card:not(:nth-child(1)) {
	opacity: 0.2;
}

h1, h2, h3 {
	display: inline-block;
}

#connection-info {
	min-height: 5px;
	background-color: #6d2626;
}

#connection-info div {
	display: inline-block;
	color: white;
	font-size: 12px;
	padding-left: 10px;
}

.connected {
	background-color: #266d26 !important;
}