* {
	font-family: "Helvetica", "Arial", serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	margin: 0;
	list-style-type: none;
}

li {
	display: inline-block;
}

span {
	display: inline-block;
}
html, body {
	height: 100%;
}
body {
	overflow: hidden;
	background: #ddd;
	display: flex;
	flex-direction: column;
}

.title-info {
	margin: 0.5em;
	margin-bottom: 0;
}

header {
	background: linear-gradient(to bottom, #999999dd 0%, #99999900 100%);
	z-index: 7;
}

main {
	flex-grow: 1;
	position: relative;
}

#overlay {
	display: none;
	opacity: 0.8;
	background-color: black;
	color: white;
	z-index: 8;
	width: 100%;
	position: absolute;
	text-align: center; 
	top: 0;
	left: 0;
	height: calc(100% - 3.65rem);
}

.btn-border {
	border: 1px solid #888;
	border-radius: 0.3em;
	padding: 0.4em;
}

#btn-begin {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translateX(-3.2rem);
	display: none;
}

#btn-cancel {
	font-size: 2rem;
	position: relative;
	top: calc(100% - 6rem);
}

#btn-settings, #btn-close-settings {
	float: left;
	font-size: 2em;
	margin-left: 0.2rem;
	margin-right: 0.7rem;
	color: #444;
	cursor: pointer;
}

.btn {
	cursor: pointer;
}

.btn:hover {
	color: #666;
}

.btn:active {
	color: #999;
}

nav {
	width: 100%;
	position: absolute;
	padding: 0.5rem;
	background: linear-gradient(to bottom, #ccccccee 70%, #cccccc00 100%);
	z-index: 8;
	display: none;
}

nav li {
	margin-right: 0.1rem;
	margin-top: 0.2rem;
}

#input {
	background: #eee;
	border: none;
	border-bottom: 2px #888 solid;
	font-size: 1.5em;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#output {
	text-align: center;
	background-color: #ccc;
	padding: 5px;
	height: 5rem;
	display: none;
}

.code {
	color: #666;
	font-style: italic;
}

.error {
	background-color: black;
	color: red;
	font-weight: bold;
	font-style: italic;
}


#table {
	min-height: 100%;
	overflow: auto;
}

#altusers {
	margin-top: 1rem;
	text-align: center;
}


.cardstack-container {
	position: absolute;
	display: block;
	width: fit-content;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 1rem;
}

#altusers .cardstack-container {
	position: static;
	display: inline-block;
	margin-right: 0.2rem;
	margin-bottom: 0.2rem;
}

.cardstack {
	border-bottom: 2px #aaa solid;
	padding: 0.2rem;
	padding-right: 1.5rem;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	min-height: 6rem;
	min-width: 12rem;
}

.cardstack-head {
	text-align: center;
}

.cardstack-box {
	display: block;
	max-width: 95vw;
	overflow-x: auto;
	/* force one line hands */
	overflow-y: hidden;
	white-space: nowrap;
}

.card {
	border-radius: 0.3rem;
	border: 1px lightgray solid;
	background: white;
	padding: 0.4rem;
	margin: 3px;
	display: inline-block;
	width: 3.5rem;
	height: 5rem;
	font-size: 1.75rem;
	line-height: 1.25rem;
	text-align: left;
	cursor: default;
	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	box-shadow: 0 0 3px #999;
	margin-right: -0.5rem;
}

/* small hands */
.small .card, .altuser .card, #btn-card {
	font-size: 1.2rem;
	line-height: 1rem;
	width: 2.45rem;
	height: 3.5rem;
}

.small .card, .altuser .card {
	margin-right: -1.5em;
}

.small .cardstack, .altuser .cardstack {
	min-height: 4.5rem;
	padding-right: 1.90rem;
}

.small h2, .altuser h2 {
	font-size: 1em;
}

.cardstack-count {
	margin-left: 6px;
}

/* suits */
.red {
	color: red;
}

.black {
	color: black;
}
/* card back */
.back .card, .altuser .card, .deck .card, #btn-card {
	/* set background image */
	color: transparent;
	padding: 1rem;
	background: url(http://cdn.shopify.com/s/files/1/0200/7616/products/playing-cards-bicycle-rider-back-2_grande.png?v=1494193481);
	background-size: cover;
	background-position: center;
}

/* bounding box */
.deck .cardstack, .pile .cardstack {
	text-align: left;
	position: relative;
	min-width: 5rem;
	padding: 4rem 4rem;
	border-bottom: none; /*remove cardstack border*/
}

.user .cardstack {
	display: block;
	padding: 0.2rem 1rem;
	padding-right: 1.5rem;
	padding-top: 3rem;
}

.user .cardstack-head {
	cursor: pointer;
}
/* no labels for deck / pile */
.deck .cardstack-head, .pile .cardstack-head {
	display: none;
}

/* stack cards */
.deck .card {
	margin-right: -4.16rem;
}
/* positioning fix */
.deck .cardstack {
	padding-right: 8rem;
}

/* spread cards */
.pile .card {
	margin-right: -0.8rem;
}

/* fadeout */
.pile .cardstack-box {
	max-width: 30rem;
	overflow-x: hidden;
}
/* grabbable cards */
.deck .card, .user .card {
	cursor: move;
	cursor: grab;
	cursor: -moz-grab;
    cursor: -webkit-grab;
}
/* grabbed cards */
.deck .card:active, .user .card:active {
	cursor: grabbing;
	cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* user hand centred bottom */
.user {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0; /* float bottom */
}
/* position pile and deck */
.pile {
	bottom: calc(50% - 10rem);
	left: 50%;
}

.deck {
	bottom: calc(50% - 10rem);
	right: 50%;
}

/* larger cards */
.pile .card:nth-child(1), .deck .card {
	font-size: 2rem;
	line-height: 1.7rem;
	width: 4rem;
	height: 6rem;
}

.pile .card {opacity: 1;}
.pile .card:nth-child(1) {opacity: 1; margin-right: 0rem; z-index: -1;}
/*.pile .card:nth-child(2) {opacity: 0.6;}
.pile .card:nth-child(3) {opacity: 0.36;}
.pile .card:nth-child(4) {opacity: 0.216;}
.pile .card:nth-child(5) {opacity: 0.1296;}
.pile .card:nth-child(6) {opacity: 0.07776;}
.pile .card:nth-child(7) {opacity: 0.046656;}
.pile .card:nth-child(8) {opacity: 0.028;}
.pile .card:nth-child(9) {opacity: 0.0168;}
.pile .card:nth-child(10) {opacity: 0.01;}*/

.deck .card:nth-child(1) {z-index: 3;}
.deck .card:nth-child(2) {z-index: 2;}
.deck .card:nth-child(3) {z-index: 1;}

h1, h2, h3 {
	display: inline-block;
}

#connection-info {
	min-height: 5px;
	background-color: #6d2626;
}

#connection-info div {
	display: inline-block;
	color: white;
	font-size: 12px;
	padding-left: 10px;
}

.connected {
	background-color: #266d26 !important;
}

/* unselectable */
.noselect, .cardstack-container, header, nav {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}